<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bem-vindo!</title>
    <style>
        .inline-content {
            display: inline-block;
            vertical-align: top;
        }
    </style>
</head>
<body>
    <h1>CAT JUMP!</h1>
    <p>APP - Backend em Node.js</p>
    <p>Navegue pelo navbar</p>

    <div>
        <img src="/img/cat.png" alt="Descrição da imagem" width="500" height="300" class="inline-content">
        <iframe width="500" height="300" src="https://www.youtube.com/embed/g4WMhZzfE8o?si=Q0wkKPSZOWxXtMM9" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen class="inline-content"></iframe>
    </div>
    
</body>
</html>
